<nav x-data="menu()" class="w-full">
  <div class="menu-mask bg-black bg-opacity-30 z-[118] absolute left-0 w-full h-dvh top-0 hidden"
    :class="{'!block lg:!hidden': $store.menuState.isMenuOpened === true}"
    @click="$store.menuState.isMenuOpened = false" x-ref="menuMask">
  </div>
  <div class="fixed z-[119] top-0 left-0 w-4/5 h-full lg:w-full -translate-x-full transition ease-out lg:z-[9] lg:static lg:!translate-x-[initial]"
    :class="{'!translate-x-0': $store.menuState.isMenuOpened === true}">
    <button
      class="hidden items-center justify-center absolute right-5 top-7 z-[120] h-5 w-5 focus:outline-none focus:ring-2 focus:ring-blue-light focus:ring-offset-1"
      :class="$store.menuState.isMenuOpened === true ? '!flex lg:!hidden' : ''"
      @click="$store.menuState.isMenuOpened = false">
      {% render 'icon', icon: 'cross', class: '!w-2 !h-2' %}
    </button>
    <div
      class="main-menu w-full h-dvh overflow-y-auto lg:h-full lg:w-full bg-white lg:bg-transparent relative lg:static z-[119] lg:overflow-[initial]"
      x-ref="menu">
      <ul class="flex justify-center h-full" role="list">
        {%- for link in section.settings.menu.links -%}
          {%- if link.links != blank -%}
          {%- liquid assign index = forloop.index -%}
            <li class="flex items-center">
              <header-menu class="flex h-full w-full lg:w-auto" @scroll.window="selected = null">
                <aw-details class="flex w-full lg:w-auto" @mouseleave="() => menuOut(event)">
                  <aw-summary
                    class="hidden lg:flex items-center relative text-sm leading-5 font-bold text-brown uppercase px-3 py-5 transition-all duration-700 cursor-pointer hover:text-orange-light lg:gap-x-1.5"
                    :class="selected === {{ index }} ? 'open !text-orange-light' : ''"
                    @click="() => toggleSelected(event, {{ index }})"
                    @mouseover="selected !== {{ index }} ? () => toggleSelected(event, {{ index }}) : ''">
                    <span :class="selected === {{ index }} ? 'rotate-180' : ''">
                      {% render 'icon', icon: 'arrow-down', class: '!w-4 !h-3.5 text-brown' %}
                    </span>
                    <span>
                      {{- link.title | escape -}}
                    </span>
                  </aw-summary>
                  <div
                    class="submenu hidden lg:absolute z-[2] left-0 top-full bg-white w-full lg:shadow-md lg:py-17"
                    :class="selected === {{ index }} ? 'lg:!block border-t border-brown/20' : ''" x-ref="submenu" role="list">
                    <div class="container">
                      <ul class="lg:grid lg:grid-cols-3 gap-x-5 gap-y-2.5">
                        {%- for childLink in link.links -%}
                        <li class="">
                          {%- if childLink.links != blank -%}
                            <div>
                              <a href="{{ childLink.url }}" title="{{- childLink.title | escape -}}" {% if childLink.current
                                %} aria-current="page" {% endif %}
                                class="text-sm leading-9 uppercase transition ease-out lg:text-lg font-heading lg:font-bold">
                                {{ childLink.title | escape }}
                              </a>
                            </div>
                            <ul class="lg:columns-2 lg:mt-4.5 lg:pt-4.5 lg:border-t lg:border-beige">
                              {%- for childchildLink in childLink.links -%}
                              <li>
                                <a href="{{ childchildLink.url }}" title="{{- childchildLink.title | escape -}}" {% if
                                  childchildLink.current %} aria-current="page" {% endif %}
                                  class="text-sm leading-9 uppercase lg:normal-case lg:text-base lg:leading-9 lg:hover:text-orange transition ease-out">
                                  {{ childchildLink.title | escape }}
                                </a>
                              </li>
                              {%- endfor -%}
                            </ul>
                          {% else %}
                            <div class="flex relative">
                              <a href="{{ childLink.url }}" title="{{- childLink.title | escape -}}" {% if childLink.current
                                %} aria-current="page" {% endif %}
                                class="flex h-full text-sm uppercase transition ease-out rounded-lg border border-dashed border-brown/20 w-full px-5 py-2.5 font-heading lg:text-lg lg:font-bold">
                                {{ childLink.title | escape }}
                              </a>
                            </div>
                          {%- endif -%}
                        </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </aw-details>
              </header-menu>
            </li>
          {%- else -%}
            <li class="flex items-center">
              <a class="flex items-center text-sm leading-5 font-bold uppercase px-3 py-5 h-full transition-all duration-700 hover:text-orange-light"
                href="{{ link.url }}" title="{{- link.title | escape -}}" {% if link.current %} aria-current="page" {% endif %}>
                <span>
                  {{- link.title | escape -}}
                </span>
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>

{% style %}
  .arrow-down {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms;
  }

  aw-summary.open .arrow-down {
    color: rgba(var(--color-orange-light) / 1);
  }
{% endstyle %}