<header class="border-b border-brown/20" x-ref="header">
  <div class="relative">
    <div class="container">
      <div class="flex justify-between">
        <div class="header__logo flex justify-start w-1/4 py-5">
          <a
            class="inline-flex"
            href="{{ routes.root_url }}"
            title="{{ shop.name }}">
            {%- if settings.logo != blank -%}
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: settings.logo_width
                | image_tag:
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            {%- else -%}
              <span>{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>
        <div class="header__menu flex justify-center w-1/2">
          {% if section.settings.menu != blank %}
            {% render 'header-menu',
              section_settings: section.settings
            %}
          {% endif %}
        </div>
        <div class="header__menu flex items-center justify-end w-1/4">
          account
        </div>
      </div>
    </div>
  </div>
</header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{% schema %}
  {
    "name": "Header",
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
