<div
  class="product-main mt-1.25 pb-10 md:pb-24 lg:mt-3"
  x-data="variants('{{ product.id }}', {{ product.selected_or_first_available_variant.options.size }}, '{{ product.url }}', 'main')"
>
  <div class="grid grid-cols-12">
    <div class="col-span-12 xl:col-span-10 xl:col-start-2">
      <div class="container max-w-full">
        <div class="relative grid grid-cols-4 md:grid-cols-12 md:gap-5">
          <div class="order-1 col-span-4 md:col-span-12 lg:col-span-7 2xl:col-span-8">
            product-gallery
          </div>
          <div class="order-2 col-span-4 md:col-span-12 lg:z-20 lg:col-span-5 lg:row-span-3 2xl:col-span-4">
            {% render 'product-info', product %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      "image": [
        {{ product.images.first | image_url: width: 1920 | prepend: "https:" | json }}
      ],
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      {% if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" %} 
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": {{ product.metafields.stamped.reviews_average | round: 2 }},
          "reviewCount": {{ product.metafields.stamped.reviews_count }}
        },
      {% endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
  {% if product.metafields.custom.siblings %}
    <script>
      const callback = () => {
        if (!window.SwymProductVariants && !window.SwymWatchProducts) return;

        const products = {{ product.metafields.custom.siblings.value | json }};

        products.forEach(product => {
          product.variants.forEach(variant => {
            if (!window.SwymProductVariants[variant.id]) {
              window.SwymProductVariants[variant.id] = {
                empi: product.id,
                epi: variant.id,
                dt: product.title,
                du: '{{ shop.url }}{{ product.url }}',
                iu: variant?.featured_image?.src,
                ct: '',
                pr: 102,
                stk: 100,
                variants: [
                  {
                    [variant.public_title]: variant.id
                  }
                ]
              };
            }

            if (!window.SwymWatchProducts[variant.id]) {
              window.SwymWatchProducts[variant.id] = {
                available: variant.available,
                id: variant.id,
                inventory_management: 'shopify',
                title: variant.public_title
              };
            }
          });
        });
      };

      window.SwymCallbacks = window.SwymCallbacks || [];
      window.SwymCallbacks.push(callback);
    </script>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "text",
        "default": "Frequently Purhased",
        "id": "frequently_purchased_text",
        "label": "Frequently Purhased Text",
        "info": "Note: shows the products from Product Recommendations API (related)"
      },
      {
        "type": "text",
        "default": "You May Also Like",
        "id": "you_may_also_like_text",
        "label": "You May Also Like Text",
        "info": "Note: shows the products from Product Recommendations API (complementary)"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "name": "Shipping",
        "limit": 1,
        "type": "shipping",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "name": "Returns",
        "limit": 1,
        "type": "returns",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
